<!DOCTYPE html>

	<html>
	<head>
		<title>Mushroom Mania</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body ng-app="MushroomApp">
		<h1>Mushroom Mania</h1>

		<!-- <input type="radio" name="mushroom" checked>All Mushrooms -->
		<input type="radio" name="mushroom" value="false" ng-model="mushType">Poisonous
		<input type="radio" name="mushroom" value="true" ng-model="mushType">Non-Poisonous
		<br>
		<br>
		<label for="mushroom-text">Search For Mushrooms</label><br>
		<input type="text" name="mushroom-text" ng-model="mushName">

		<div ng-view></div>


		<script type="text/javascript" src="lib/node_modules/angular/angular.min.js"></script>
		<script type="text/javascript" src="lib/node_modules/angular-route/angular-route.min.js"></script>
		<script type="text/javascript" src="app/app.js"></script>
		<script type="text/javascript" src="app/factories/MushroomFactory.js"></script>
		<script type="text/javascript" src="app/controllers/MushroomController.js"></script>
	</body>
	</html>